.button {
  display: inline-flex;
  width: 48px;
  height: 48px;
  margin: 10px;
  border: transparent;
}

  .backButton {
  display: inline-block;
  background: url("./img/back.svg") no-repeat top left;
  background-size: contain; }

  .playButton {
  display: inline-block;
  background: url("./img/play.svg") no-repeat top left;
  background-size: contain; }

  .pauseButton {
  display: inline-block;
  background: url("./img/pause.svg") no-repeat top left;
  background-size: contain; }

  .muteButton {
  display: inline-block;
  background: url("./img/mute.svg") no-repeat top left;
  background-size: contain; }

  .unmuteButton {
  display: inline-block;
  background: url("./img/unmute.svg") no-repeat top left;
  background-size: contain; }

  .fullscrButton {
  display: inline-block;
  background: url("./img/fullscreen.svg") no-repeat top left;
  background-size: contain; }

  .nextButton {
  display: inline-block;
  background: url("./img/next.svg") no-repeat top left;
  background-size: contain; }
