*,
*::after,
*::before {
  /* stylelint-disable-line */
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: grey; }

.foo {
  width: 400px;
  margin: 0 auto;
} //stílum logoið

.hidden {
  display: none; }

main {
  /* stylelint-disable-line */
  display: flex;
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  flex-direction: column;
}

.card {
  display: inline-block;
  width: 100%;
  min-width: auto;
  max-width: auto;
  text-decoration: none;
  color: #f0f;
  @media (min-width: 999px) {
      min-width: 470px;
      max-width: 470px;
    }
  &__videoPoster {
    width: 100%; }
  &__videoImg {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%; }
  &__lengthFlex {
    position: relative;
    display: flex;
    margin-top: -50px;
    margin-right: 10px;
    margin-bottom: 20px;
    flex-direction: row-reverse; }
  &__videoLength {
    display: inline-block;
    width: auto;
    max-width: 100%;
    padding: 5px;
    color: #fff;
    background: rgba(25, 25, 25, 0.5); }
  &__videoDescription {
    max-width: 100%;
}
}

.cardlist {
  display: flex;
  max-width: 1000px;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;

  &__line {
    display: block;
    max-width: 80%;
    padding-top: 30px;
    margin: auto;
    border-bottom: 1px solid #eee; }
  }

.player {
  display: flex;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  justify-content: center; }

.villuMynd {
  width: 100%; }

.videoBox {
  display: flex;
  width: 100%;
  max-width: 1000px;
  max-height: 100%; }

.video {
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 800px; }

.overlay {
  z-index: 99;
  display: flex;
  width: 100%;
  max-height: 800px;
  margin-left: -100%;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);

  &__hidden {
    z-index: 0; }
  }

.overlayButton {
  width: 48px;
  height: 48px;
  margin: 0 auto; }

.buttons {
  display: flex;
  margin: 20px;
  flex-direction: row;
  justify-content: center; }

.text {
  color: #fff;

  &__myndbandsTitill {
    width: auto;
    max-width: 83%;
    overflow: hidden;
    white-space: nowrap; }
  &__spilaraTitill {
    margin: 20px;
    font-size: 2rem;
    font-weight: bold;
    align-items: center; }
  &__heim {
    width: auto;
    margin: 0 auto;
    text-decoration: none; }
  &__flokkurTitill {
    margin-top: 40px;
    margin-bottom: 20px; }
  }

.button {
  display: inline-flex;
  width: 48px;
  height: 48px;
  margin: 10px;
  border: transparent;

  &__backButton {
  display: inline-block;
  background: url("./img/back.svg") no-repeat top left;
  background-size: contain; }

  &__playButton {
  display: inline-block;
  background: url("./img/play.svg") no-repeat top left;
  background-size: contain; }

  &__pauseButton {
  display: inline-block;
  background: url("./img/pause.svg") no-repeat top left;
  background-size: contain; }

  &__muteButton {
  display: inline-block;
  background: url("./img/mute.svg") no-repeat top left;
  background-size: contain; }

  &__unmuteButton {
  display: inline-block;
  background: url("./img/unmute.svg") no-repeat top left;
  background-size: contain; }

  &__fullscrButton {
  display: inline-block;
  background: url("./img/fullscreen.svg") no-repeat top left;
  background-size: contain; }

  &__nextButton {
  display: inline-block;
  background: url("./img/next.svg") no-repeat top left;
  background-size: contain; }
}
